@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    @apply bg-slate-50 text-slate-800 antialiased;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-indigo-200 rounded-full hover:bg-indigo-300 transition-colors;
}